{
  "editorconfig": true,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["**/*.html", "**/*.astro"],
      "options": {
        "printWidth": 400
      }
    }
  ]
}
