---
import Layout from "astro-libs/layouts/Layout.astro";
import RealmImportElement from "astro-libs/layouts/RealmImportElement.astro";

const { frontmatter, compiledContent } = Astro.props;
---

<Layout origin="http://localhost:3000" title={frontmatter.title} seoProps={{ titleTemplate: "%s - The Realm Blog" }}>
  <RealmImportElement elements={["top-navigation-blog", "blog-layout", "post-layout"]} />
  <top-navigation-blog></top-navigation-blog>
  <blog-layout>
    <post-layout>
      <h1 slot="title">
        {frontmatter.title}
      </h1>
      <article slot="content">
        <slot />
      </article>
      <span slot="author">{frontmatter.author}</span>
      <div slot="tags">
        {frontmatter.tags.map((item: string) => <span>#{item}</span>)}
      </div>
    </post-layout>
  </blog-layout>
</Layout>

<style is:global>
  article {
    font-size: 1.35rem;
    line-height: 1.5;
  }
</style>
